# Mojang API endpoints
MOJANG_BULK_SERVICES_URL=https://api.minecraftservices.com/minecraft/profile/lookup/bulk/byname
MOJANG_BULK_MOJANG_URL=https://api.mojang.com/minecraft/profile/lookup/bulk/byname
MOJANG_BULK_LEGACY_URL=https://api.mojang.com/profiles/minecraft
MOJANG_AVAILABLE_URL=https://api.minecraftservices.com/minecraft/profile/name/{name}/available

# Rate limiter
RATE_LIMIT_MAX_REQUESTS=600
RATE_LIMIT_WINDOW_MS=600000

# Database
DATABASE_PATH=./data/observer.sqlite

# Token
# USER_TOKEN=
